* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

.hero {
    background-color: #1F2937;
    padding: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.links a {
    font-size: 18px;
    color: #E5E7EB;
}

.links{
    display: flex;
    flex: 3;
    gap: 50px;
    justify-content: flex-end;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    flex: 3;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #1F2937;
    padding: 20px 0px;
}

.space{
    display: flex;
    flex: 1;
}

@media only screen and (max-width: 600px) {
    .hero-card{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items:center;
        padding: 100px 0px;
    }

    .card-text{
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        align-items:center;
        flex: 3;
        font-size: 20px;
        color: #E5E7EB;
        margin-bottom: 40px;
        width: 90%;
        gap: 20px;
    }

    .card-img{
        display: flex;
        flex: 3;
        justify-content: center;
        align-items: center;
    }

    .quote{
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
        background-color: #E5E7EB;
    }
    
    .quote>p{
        width: 80%;
        font-size: 22px;
        font-weight: light;
        color: #1F2937;
        font-style: italic;
    }
    
    .author{
        text-align: end;
        font-size: 32px;
        font-weight: bold;
        color: #1F2937;
        font-style: italic;
        width: 80%;
    }

}

@media only screen and (min-width: 600px) {
    .hero-card{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding: 100px 0px;
    }

    .card-text{
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        align-items:center;
        flex: 3;
        font-size: 18px;
        color: #E5E7EB;
        margin-bottom: 40px;
        width: 90%;
        gap: 20px;
    }

    .card-title{
        font-size: 48px;
        margin-right: 50px;
    }

    .card-img{
        display: flex;
        flex: 3;
        justify-content: center;
        align-items: center;
    }

    .quote{
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
        background-color: #E5E7EB;
    }
    
    .quote>p{
        width: 80%;
        font-size: 22px;
        font-weight: light;
        color: #1F2937;
        font-style: italic;
    }
    
    .author{
        text-align: end;
        font-size: 32px;
        font-weight: bold;
        color: #1F2937;
        font-style: italic;
        width: 80%;
    }

}


@media only screen and (max-width: 1172px) {
    .card-title{
        font-size: 32px;
        font-weight: 900;
        color: #F9FAF8;
        width: 75%;
    }
}


@media only screen and (min-width: 944px) {
    .hero-card{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        padding: 100px 0px;
        min-width: 50%;
    }

    .card-text{
        text-align: start;
        display: flex;
        flex-flow: column nowrap;
        align-items:start;
        flex: 3;
        font-size: 18px;
        color: #E5E7EB;
        margin-bottom: 10px;
        /* padding-right: 50px; */
        gap: 20px;
    }

    .card-img{
        display: flex;
        flex: 3;
        justify-content: flex-end;
    }

    .quote{
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
        background-color: #E5E7EB;
    }
    
    .quote>p{
        width: 70%;
        font-size: 36px;
        font-weight: light;
        color: #1F2937;
        font-style: italic;
    }
    
    .author{
        text-align: end;
        font-size: 32px;
        font-weight: bold;
        color: #1F2937;
        font-style: italic;
        width: 80%;
    }

}

img{
    width: 80%;
    height: 80%;
}

.card-btn{
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 30px;
    font-weight: bold;
    font-size: 18px;
}

.random-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random-info h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 75px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.info-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    height: 400px;
    width: 300px;
}

.info-card p{
    text-align: center;
    color: #1F2937;;
}

.box{
    height: 150px;
    width: 150px;
    /* border: 3px solid grey; */
    border-radius: 10px;
}

.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.call-to-action{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px 75px;
    width: 70%;
    color: white;
}

.call{
    width: 70%;
}

.call-to-action > button{
    border: 2px solid white;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1F2937;
    color: white;
}

button:hover{
    background-color: #3881f67c;
    cursor: pointer;
}

